{% extends "layouts/main.html" %} {% block content %}

<form class="form" action="/beginApply" method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!-- {% include "govuk-prototype-kit/includes/homepage-top.njk" %} -->
            <h1 class="govuk-heading-xl">{{ serviceName }}</h1>
            <p>
                Use this service to Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                sint occaecat cupidatat
            </p>
            <h3 class="govuk-heading-m">Check you are eligible</h3>
            <p>
                Before you start ensure you meet the
                <a href="#" class="govuk-link">adequate on-street parking</a>
                criteria.
            </p>
            <h3 class="govuk-heading-m">Subheading 2</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat
            </p>
        </div>
    </div>

    <button
        type="submit"
        draggable="false"
        class="govuk-button govuk-button--start"
        data-module="govuk-button"
    >
        Start now
        <svg
            class="govuk-button__start-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="17.5"
            height="19"
            viewBox="0 0 33 40"
            aria-hidden="true"
            focusable="false"
        >
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
    </button>
</form>

{% endblock %}
